@media (min-width: 768px) {

    .sub-navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .item {
        margin: 0 25px;
    }

    .profile-picture-and-text {
        display: flex;
        flex-direction: row-reverse;
        width: 620px;
        height: 167px;
        text-align: left;
    }

    .profile-picture-and-text  h3 {
        margin: 0 10px;
    }

    .profile-picture-and-text img {
        flex-shrink: 0;
    }

    .gallery {
        display: inline-flex;
        flex-direction: row;
        width: 768px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .portfolio-pictures-and-text {
        margin: 0 0 25px;
    }

    #contact {
        width: 460px;
    }

    .footer-container {
        display: inline-flex;
        width: 620px;
        justify-content: flex-start;
    }

    .footer-item-2,
    .footer-item-3,
    .footer-item-4 {
        display: block;
        margin: 0 10px;
    }

    .footer-item-5 {
        display: none;
    }

    .footer-item-1 {
        margin-right: auto;
    }

    
}

@media (min-width: 1024px) {

    .navigation {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 940px;
    }

    .name {
        margin-right: auto;
    }

    .sub-navigation .item {
       padding-top: 10px;
    }

    .profile-picture-and-text {
        width: 920px;
        height: 225px;
    }

    .profile-picture-and-text img {
        width: 367px;
    }

    .gallery {
        width: 1024px;
    }

    #contact {
        width: 500px;
    }

    .footer-container {
        width: 920px;
    }
}