@media (min-width: 768px) {

    .sub-navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .item {
        margin: 0 25px;
    }

    .profile-picture-and-text {
        display: flex;
        flex-direction: row-reverse;
        width: 80%;
        height: 167px;
        text-align: left;
    }

    .profile-picture-and-text  h3 {
        margin: 0 10px;
    }

    .container2 {
        display: inline-flex;
        flex-direction: row;
        width: 768px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .portfolio-pictures-and-text {
        margin: 0 0 25px;
    }

    #contact {
        width: 60%;
    }

}

@media (min-width: 1024px) {
    .container2 {
        width: 1024px;
    }
}