* { 
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.item {
    margin: auto;
}

.profile-picture-and-text {
    width: 310px;
    margin: 0 auto 75px;
}

.portfolio {
    margin-bottom: 50px;
    color: lightslategray;
}

.portfolio-pictures-and-text {
    width: 310px;
    margin: 0 auto;
}

.phone-email {
    display: flex;
    justify-content: center;
    height: 2rem;
}

.item2 {
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: lightslategray;
}



.light-text {
    color: lightgrey;
}

h2 {
    color: lightslategray;
}

.container {
    display: flex;
    justify-content: center;
    height: 25px;
    margin-top: 60px;
    border-top: 1px lightgray solid;
}

.footer-item-2,
.footer-item-3,
.footer-item-4 {
    display: none;
}

.footer-item-1 {
    margin-right: 20px;
}

.footer-item-5 {
    margin-left: 20px;
}